#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav li a:hover {
  background-color: #111;
}

body {
  background-color: #FAEBD7;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 1040px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

iframe { 
  width: 660px;
  height: 860px;
}

h1 { 
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 80px;
  text-align: center;
  font-size: 65px;
  color: #5F9EA0;
  border-style: dotted;
  border-width: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1,h2,h3{ 
  font-family: Gill Sans;
  text-align: center;
}

p { 
  font-family: Georgia;
}


